<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row m-5 p-5">
                <h2 class="text-secondary text-center">Add Students</h2>
                
                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 g-3 my-4">
                    <label for="" class="label-control">Admission No</label>
                    <input name="adm" [(ngModel)]="adm" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 g-5">
                    <button class="btn btn-success" (click)="readValues()">Submit</button>
                </div>


                <hr>
                <table class="table table-striped-columns">
                    <thead>
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Admission NO</th>
                        <th scope="col">Roll No</th>
                        <th scope="col">Place</th>
                        <th scope="col">College</th>
                        <th scope="col">Age</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let i of serchData">
                        <td>{{i.name}}</td>
                        <td>{{i.adm}}</td>
                        <td>{{i.roll_nO}}</td>
                        <td>{{i.place}}</td>
                        <td>{{i.college}}</td>
                        <td>{{i.age}}</td>
                        <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 g-5">
                            <button class="btn btn-danger" (click)="deleteValues(i.id)">Delete</button>
                        </div>
                      </tr>

                        
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>